<%- include('template/header') %>

<header class="d-flex">

    <% if (login) { %>
    <div class="d-flex w-100 justify-content-between align-items-center m-auto  p-3">
        <a class="letra-header-1" href="/home"> Bluezone</a>
        <di>
            <span class="letra-header-1">Hola<strong>, <%= name %></strong></span>
            <% } %>
        </di>

        <a class="letra-header-1" style="font-size: 20px" href="/logout">Cerrar sesión</a>
    </div>

</header>


<div>
    <div class="container-top azul">
        <div class="text-start mx-3">
            <a href="javascript:window.history.back();" class="link-blanco"><span
                        class="material-icons text-decoration-none">arrow_back</span></a>
        </div>

        <div class="text-end mx-3">
            <span><%= razon %></span>

        </div>
        <h5 class="main-title"><%= razon %></h5>
        <p>Fecha de inicio - <%= fecha %></p>
        <div class="buttons-links">
            <div class="buttons-links-sub-menu noMostrar flex-submenu superPosicionRrss" id="menuOcultoRrss">
                <button onclick="mostrarMenu( 'rrss', 'menuOcultoRrss', 'noMostrar' )" class=" azul icono-cerrar"> x
                </button>
                <div class="container-icono-sub-menu m-1">
                    <a href="#" target="_blank">
                        <img src="../public/image/instagram.ico" class="material-icons azul icono-redondo p-1"
                             style="width: 35px; height: 35px"/>
                        <span class="azul sub-menu"> Instagram</span>
                    </a>

                </div>
                <div class="container-icono-sub-menu m-1">
                    <a href="#" target="_blank">
                        <img src="../public/image/twitter.ico" class="material-icons azul icono-redondo p-1"
                             style="width: 35px; height: 35px"/>
                        <span class="azul sub-menu"> Twitter</span>
                    </a>
                </div>
                <div class="container-icono-sub-menu m-1">
                    <a href="#" target="_blank">
                        <img src="../public/image/linkedin.ico"
                             class="material-icons azul icono-redondo p-1"
                             style="width: 35px; height: 35px"/>
                        <span class="azul sub-menu"> LinkedIn</span>
                    </a>
                </div>

            </div>
            <!-- Menu Contacto-->
            <div class="buttons-links-sub-menu noMostrar flex-submenu superPosicionContacto" id="menuOcultoContacto">
                <button onclick="mostrarMenu( 'contacto', 'menuOcultoContacto', 'noMostrar' )"
                        class=" azul icono-cerrar "> x
                </button>
                <div class="container-icono-sub-menu align-items-center d-flex m-1">
                    <a href="#" target="_blank">
                        <span class="material-icons azul icono-redondo p-1">email</span>
                        <span class="azul sub-menu"> Email</span>
                    </a>
                </div>
                <div class="container-icono-sub-menu align-items-center d-flex m-1">
                    <a href="#" target="_blank">
                        <span class="material-icons azul icono-redondo p-1">whatsapp</span>
                        <span class="azul sub-menu"> WhatsApp</span>
                    </a>
                </div>
                <div class="container-icono-sub-menu align-items-center d-flex m-1">
                    <a href="#" target="_blank">
                        <span class="material-icons azul icono-redondo p-1">phone</span>
                        <span class="azul sub-menu"> Telefono</span>
                    </a>
                </div>
            </div>
            <!-- Menu Materiales-->
            <div class="buttons-links-sub-menu noMostrar flex-submenu superPosicionMateriales"
                 id="menuOcultoMateriales">
                <button onclick="mostrarMenu( 'materiales', 'menuOcultoMateriales', 'noMostrar' )"
                        class=" azul icono-cerrar"> x
                </button>
                <div class="container-icono-sub-menu align-items-center d-flex m-1">
                    <a href="#" target="_blank">
                        <span class="material-icons azul icono-redondo p-1">add_to_drive</span>
                        <span class="azul sub-menu"> Drive</span>
                    </a>
                </div>
                <div class="container-icono-sub-menu align-items-center d-flex m-1">
                    <a href="#" target="_blank">
                        <span class="material-icons azul icono-redondo p-1">link</span>
                        <span class="azul sub-menu"> Links</span>
                    </a>
                </div>
            </div>
            <!--End sub menus-->
            <div class="d-flex flex-column align-items-center " id="rrss">
                <button class="material-icons azul icono-redondo p-1"
                        onclick="mostrarMenu('menuOcultoRrss' , 'rrss', 'noMostrar' )">rss_feed
                </button>
                <span class="azul sub-menu my-2"> RRSS</span>
            </div>
            <div class="d-flex flex-column align-items-center" id="contacto">
                <button class="material-icons azul icono-redondo p-1"
                        onclick="mostrarMenu('menuOcultoContacto' , 'contacto', 'noMostrar' )">call
                </button>
                <span class="azul sub-menu my-2">Contacto</span>
            </div>
            <div class="d-flex flex-column align-items-center" id="materiales">
                <button class="material-icons azul icono-redondo p-1"
                        onclick="mostrarMenu('menuOcultoMateriales' , 'materiales', 'noMostrar' )">build
                </button>
                <span class="azul sub-menu my-2">Materiales</span>
            </div>
            <div class="d-flex flex-column align-items-center">
                <a href="#" target="_blank">
                    <span class="material-icons azul icono-redondo p-1">language</span>
                </a>
                <span class="azul sub-menu my-2"> Web </span>
            </div>
        </div>
        <!-- Cards cliente -->
        <div>
            <div class="d-flex">
                <div class=" m-4 shadow cardsCliente">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title">Transacciones recientes</h5>
                            <button onclick="mostrarNuevaTransaccion()">+</button>
                        </div>
                        <div class="transaction">
                            <div class="row">
                                <div class="col-sm-2 green">
                                    <p class="card-text"><i class="bi bi-arrow-down-up"></i></p>
                                </div>

                                <div class="flex">
                                    <h4>Concepto</h4>
                                    <h4>Monto</h4>
                                </div>
                                <% cliente.forEach(function(value) { %>
                                    <div class="evento my-4">
                                        <span class="item"><%= value.destinatario %></span>
                                        <span class="item"><%= value.monto %></span>
                                    </div>
                                <% }) %>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-4 shadow cardsCliente">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title">Etapa del proyecto</h5>
                            <button onclick="mostrarNuevaEtapa()">+</button>
                        </div>
                        <div class="container">
                            <% etapa.forEach(function(value) { %>
                                <div class="evento">
                                    <h5><%= value.titulo %></h5>
                                    <p><%= moment(value.fecha_eta).format('l') %></p>
                                </div>
                                <div class="infoExtra">
                                    <p><%= value.descripcion %></p>
                                </div>
                            <% }); %>
                            <!-- <div class="evento">
                                  <h5>Reunión</h5>
                                  <p>0/0</p>
                              </div>
                              <div class="infoExtra">
                                  <p>Información extra sobre el evento</p>
                              </div>
                               <div class="evento">
                                  <h5>Reunión</h5>
                                  <p>0/0</p>
                              </div>
                              <div class="infoExtra">
                                  <p>Información extra sobre el evento</p>
                              </div>
                              <div class="evento">
                                  <h5>Reunión</h5>
                                  <p>0/0</p>
                              </div>
                              <div class="infoExtra">
                                  <p>Información extra sobre el evento</p>
                              </div>
                              <div class="evento">
                                  <h5>Reunión</h5>
                                  <p>0/0</p>
                              </div>
                              <div class="infoExtra">
                                  <p>Información extra sobre el evento</p>
                              </div>-->
                        </div>
                    </div>
                </div>
                <div class=" m-4 shadow cardsCliente">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title">TFA</h5>
                            <button onclick="mostrarNuevaTFA()">+</button>
                        </div>
                        <div class="container">
                            <% tfa.forEach(function(value) { %>
                                <div class="evento">
                                    <h5><%= value.titulo %></h5>
                                    <p><%= moment(value.fecha_eta).format('l') %></p>
                                </div>
                            <% }); %>
                            <!-- <div class="timeline">
                                <div class="timeline-row">
                                    <div class="timeline-content">
                                        <h4>Reunión</h4>
                                        <p>0/0</p>
                                    </div>
                                </div>
                                <div class="timeline-row">
                                    <div class="timeline-content">
                                        <h4>Recordatorio</h4>
                                        <p>0/0</p>
                                    </div>
                                </div>
                                <div class="timeline-row">
                                    <div class="timeline-content">
                                        <h4>Hosting</h4>
                                        <p>0/0</p>
                                    </div>
                                </div>
                                <div class="timeline-row">
                                    <div class="timeline-content">
                                        <h4>Reunión</h4>
                                        <p>0/0</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" m-4 shadow card-saldo">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title center">Saldo</h5>
                        </div>
                        <h5 class="card-subtitle mb-2 green center"><%= saldo %></h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="nuevaTransaccion" class="card m-4 shadow card-input noMostrar">
                    <div class="card-body">
                        <button class="flecha-left" onclick="ocultarNuevaTransaccion()"><i
                                    class="bi bi-arrow-left-short"></i></button>
                        <div class="card-header">
                            <h5 class="card-title">Añadir transacción</h5>
                        </div>
                        <form action="/transaccion/<%= id %>" method="POST">
                            <select name="transaccion" id="">
                                <option value="ingreso">Ingreso</option>
                                <option value="egreso">Egreso</option>
                            </select></br>
                            <input type="text" placeholder="Destinatario" name="destinatario">
                            <input type="date" placeholder="Fecha (D/M/A)" name="fecha">
                            <input type="number" placeholder="Monto" name="monto">
                            <input class="añadir" type="submit" value="Añadir">
                        </form>
                    </div>
                </div>
                <div id="nuevaEtapa" class="card my-4 shadow card-input noMostrar">
                    <div class="card-body">
                        <button class="flecha-left" onclick="ocultarNuevaEtapa()"><i class="bi bi-arrow-left-short"></i>
                        </button>
                        <div class="card-header">
                            <h5 class="card-title">Añadir Etapa del proyecto</h5>
                        </div>
                        <form action="/etapa_tfa/<%= id %>" method="POST">
                            <select name="tipo" id="">
                                <option value="etapa">Etapa</option>
                                <option value="TFA" disabled>TFA</option>
                            </select></br>
                            <input type="text" placeholder="Título" name="titulo">
                            <input type="date" placeholder="Fecha (D/M/A)" name="fecha">
                            <input type="text" placeholder="Descripción" name="descripcion">
                            <input class="añadir" type="submit" value="Añadir">
                        </form>
                        <!--<h6 class="card-subtitle mb-2">Contrato vigente</h6>-->
                        <!-- <div class="container">
                            <div class="timeline">
                                <div class="timeline-row">
                                    <div class="timeline-content">
                                        <h4>Reunión</h4>
                                        <p>0/0</p>
                                    </div>
                                </div>
                                <div class="timeline-row">
                                    <div class="timeline-content">
                                        <h4>Reunión</h4>
                                        <p>0/0</p>
                                    </div>
                                </div>
                                <div class="timeline-row">
                                    <div class="timeline-content">
                                        <h4>Reunión</h4>
                                        <p>0/0</p>
                                    </div>
                                </div>
                                <div class="timeline-row">
                                    <div class="timeline-content">
                                        <h4>Reunión</h4>
                                        <p>0/0</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div id="nuevaTFA" class="card m-4 shadow card-input noMostrar">
                    <div class="card-body">
                        <button class="flecha-left" onclick="ocultarNuevaTFA()"><i class="bi bi-arrow-left-short"></i>
                        </button>
                        <div class="card-header">
                            <h5 class="card-title">Añadir TFA</h5>
                        </div>
                        <form action="/etapa_tfa/<%= id %>" method="POST">
                            <select name="tipo" id="">
                                <option value="etapa" disabled>Etapa</option>
                                <option value="tfa">TFA</option>
                            </select></br>
                            <input type="text" placeholder="Título" name="titulo">
                            <input type="date" placeholder="Fecha (D/M/A)" name="fecha">
                            <input type="text" placeholder="Descripción" name="descripcion">
                            <input class="añadir" type="submit" value="Añadir">
                        </form>
                        <!-- <h6 class="card-subtitle mb-2">Contrato vigente</h6>
                        <div class="container">
                            <div class="timeline">
                                <div class="timeline-row">
                                    <div class="timeline-content">
                                        <h4>Reunión</h4>
                                        <p>0/0</p>
                                    </div>
                                </div>
                                <div class="timeline-row">
                                    <div class="timeline-content">
                                        <h4>Recordatorio</h4>
                                        <p>0/0</p>
                                    </div>
                                </div>
                                <div class="timeline-row">
                                    <div class="timeline-content">
                                        <h4>Hosting</h4>
                                        <p>0/0</p>
                                    </div>
                                </div>
                                <div class="timeline-row">
                                    <div class="timeline-content">
                                        <h4>Reunión</h4>
                                        <p>0/0</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Cards Cliente -->

<%- include('template/footer') %>