<%- include('template/header') %>
<!--
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Bluezone</a>
  <button
    class="navbar-toggler position-absolute d-md-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="logout">Cerrar sesión</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">
              <span data-feather="home"></span>
              Tablero
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="nuevo-cliente">
              <span data-feather="user"></span>
              Nuevo cliente
            </a>
          </li>
        </ul>
      </div>
    </nav>
-->

<header class="d-flex">

  <% if (login) { %>
  <div class="d-flex w-100 justify-content-between align-items-center m-auto  p-3">
      <a class="letra-header-1" href="home"> Bluezone</a>
      <di>
          <span class="letra-header-1">Hola<strong >, <%= name %></strong></span>
          <% } %>
      </di>

      <a class="letra-header-1" style="font-size: 20px" href="logout">Cerrar sesión</a>
  </div>

</header>

<nav class="navbar navbar-light">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
<!--                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>-->
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active menu-canva" aria-current="page" href="home">
              <span data-feather="home"></span>
              Tablero
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-canva" href="nuevo-cliente">
              <span data-feather="user" ></span>
              Nuevo cliente
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<main class="mx-3">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Proyectos</h1>
    <div class="cardAdd cardSemaforo shadow">
      <button onclick="mostrarWIP()">
        <span class="dot dotWIPreference marginSemaforo"></span>
        <p class="d-inline marginSemaforo"><strong>WIP</strong></p>
      </button>
      <button onclick="mostrarWIF()">
        <span class="dot dotWIFreference marginSemaforo"></span>
        <p class="d-inline marginSemaforo"><strong>WIF</strong></p>
      </button>
      <button onclick="mostrarCM()">
        <span class="dot dotCMreference marginSemaforo"></span>
        <p class="d-inline marginSemaforo"><strong>CM</strong></p>
      </button>
      <button onclick="mostrarDMT()">
        <span class="dot dotDMTreference marginSemaforo"></span>
        <p class="d-inline marginSemaforo"><strong>DMT</strong></p>
      </button>
      <button onclick="mostrarAP()">
        <span class="dot dotAPreference marginSemaforo"></span>
        <p class="d-inline marginSemaforo"><strong>AP</strong></p>
      </button>
      <button onclick="mostrarFinalizados()">
        <span class="dot dotFinalizadoreference marginSemaforo"></span>
        <p class="d-inline marginSemaforo"><strong>Finalizado</strong></p>
      </button>
      <button onclick="mostrarOthers()">
        <span class="dot dotOthersreference marginSemaforo"></span>
        <p class="d-inline marginSemaforo"><strong>Others</strong></p>
      </button>
    </div>
  </div>
</main>

<% if (proyectos.length > 0) { %>
<div class="cardsContainer mx-5"> <!--  -->
  <% proyectos.forEach(function(value) { %> 
  <div class="cardAdd openSans shadow WIPcard">
    <img class="mx-auto my-1" src="/image/logo-placeholder-1.png" alt="Client logo" />
    <div class="card-body">
      <h5 class="d-inline openSans clienteTitle"><strong><%= value.razon_social %></strong></h5>
      <h5 class="d-inline openSans clienteTitle"><%= value.responsable_empresa %></h5>
      <p class="fecha openSans">7/10/2021</p>
      <div class="saldo">
        <p class="d-inline openSans">Saldo: </p>
        <p class="d-inline openSans"><%= value.Saldo %></p>
      </div>
      <span class="dot dotWIP"></span></br>
      <a href="/cliente/<%= value.id_cliente %>" class="btn btn-primary bc546bff openSans"><strong>Ver Proyecto</strong></a>
    </div>
  </div>
  <% }) %>
</div>
<% } else { %>
  <h1>No hay proyectos cargados.</h1>
<% } %>

<script
  src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
  integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
  integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
  crossorigin="anonymous"
></script>
<script src="https://getbootstrap.com/docs/5.1/examples/dashboard/dashboard.js"></script>

<%- include('template/footer')%>
