<%- include('template/header') %>

     <div class="container d-block">
          <div class="imagen">
               <img src="image/logo.jpg" alt="Logo Bluezone">
     </div>
          <form action="/auth" method="POST">
          <div class="login">            
               <label class="mb-1" for="">E-mail</label>
               <input class="mb-2 blue" type="email" name="email" placeholder="Example@gmail.com" >
               <label class="mb-1" for="">Contraseña</label>
               <input type="password" name="pass" placeholder="Contraseña" >
          </div>
          <div class="boton">
               <input type="submit" class="btn btn-blanco b" value="Iniciar sesión">
          </div>
          <div class="registrarse">    
               <a href="register">Registrarse</a>               
          </div>
     </form>

     </div>
     <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
     <% if(typeof alert != "undefined") { %>
          <script>
              swal.fire({
                  title: '<%= alertTitle %>',
                  text: '<%= alertMessage %>',
                  icon: '<%= alertIcon %>',
                  showConfirmButton: <%= showConfirmButton %> ,
                  timer: <%= timer %>
              }).then(()=>{
                  window.location='/<%= ruta %>'
              })
          </script>
          <% } %>
<%- include('template/footer')%>